body{
    background-image: url('./img.jpg');
    height: 600px;
    background-size: contain;
    border: 3px solid whitesmoke;
    padding: 50px 100px;

}
h1{
    text-align: center;
    background-color: #0067b0;
    color: darkkhaki;
    padding: 10px;
    margin: 0px;
}
#textbox{
    width: 60%;
    border-color: #0067b0 ;
}
p{
    text-align: center;
    background-color: #0067b0;
    font-size: 25px;
    font-weight: bold;
    color:blanchedalmond;
    padding: 10px;
    margin-top:-4px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  min-height: 100vh;
  padding: 20px;
  border: 8px solid darkkhaki;

} 
 


/* block-$ */
.block-effect {
  font-size: calc(8px + 6vw);
}

.block-reveal {
  --t: calc(var(--td) + var(--d));

  color: transparent;
  padding: 4px;

  position: relative;
  overflow: hidden;

  animation: revealBlock 0s var(--t) forwards;
}

.block-reveal::after {
  content: '';

  width: 0%;
  height: 100%;
  padding-bottom: 4px;

  position: absolute;
  top: 0;
  left: 0;

  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}


/* animations */
@keyframes revealBlock {
  100% {
    color: darkkhaki;
  }
}

@keyframes revealingIn {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes revealingOut {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }


}
